body {
  font-size: var(--paragraph--desktop);
  line-height: var(--line);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 3.2rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

/* HEADER */

.header {
  padding-top: 3.2rem;
}

.header__menu {
  padding: 2.4rem 0;
  flex-direction: row;
  justify-content: space-between;
  gap: .8rem;
}

/* HERO */
.hero {
  height: 60rem;
}

/* CATEGORIA DE PRODUCTOS */
.categoria {
  padding: 3.2rem 0;
}

.categoria__grid {
  grid-template-columns: repeat(3, 1fr);
}

/* SOBRE NOSOTROS */
.nosotros {
  background-image: linear-gradient(to right, transparent 50%, var(--primary-color) 50%, var(--primary-color) 100%), url("../img/nosotros.jpg");
  background-position: top left;
  background-size: 100%, 80rem;
}

.nosotros__grid {
  grid-template-rows: unset;
  grid-template-columns: repeat(2, 1fr);
}

.nosotros__copy {
  padding: 6rem;
  grid-row: unset;
  grid-column: 2 / 3;
}