h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 4rem;
  text-align: center;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.6rem;
}

.header {
  padding-top: 4rem;
}


.header__menu {
  padding: 2.8rem 0;
}

.header__link:hover {
  color: var(--primary-color);
}

/* HERO */
.hero {
  height: 70rem;
}

/* CATEGORIA DE PRODUCTOS */
.categoria {
  padding: 4rem 0;
}

.categoria__iten:hover .categoria__link {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}

/* PRODUCTOS */
.productos {
  padding: 4rem 0;
}

.producto__buttom:hover {
  transition: background-color .3s ease-in-out;
  cursor: pointer;
  background-color: #759c00;
}

/* SOBRE-NOSOTROS */
.sobre-nosotros {
  padding-bottom: 4rem;
}

/* NUESTRO BLOG */
.blog__grid {
  gap: 8rem;
}

.blog-iten__button {
  max-width: 40rem;
}

.blog-aside__title {
  text-align: left;
}