@font-face {
	font-family: 'Playfair Display';
	src: url(../fonts/playfairDisplay/PlayfairDisplay-Bold.ttf);
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: 'Playfair Display';
	src: url(../fonts/playfairDisplay/PlayfairDisplay-Black.ttf);
	font-weight: 900;
}

@font-face {
	font-family: 'Raleway';
	src: url(../fonts/raleway/Raleway-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

:root {
	/* Fonts */
	--primary-Font: "Playfair Display", serif;
	--secondary-Font: "Raleway", sans-serif;

	/* Colors */
	--primary-color: #037bc0;
	--secondary-color: #303030;
	--tertiary-color: #fff;
	--comodin-color: #3049ff;

	/* Sizes */
	--paragraph--movil: 1.4rem;
	--paragraph--desktop: 1.6rem;

	/* Line-Height */
	--line: 1.5;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	min-width: 32rem;
	font-family: var(--secondary-Font);
	font-size: var(--paragraph--movil);
	line-height: var(--line);
	color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 2.4rem;
	font-family: var(--primary-Font);
	text-align: center;
	color: #1d1d1d;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 2rem;
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}

img {
	max-width: 100%;
	display: block;
}

textarea,
input,
select {
	outline: none;
}


[class*="__container"] {
	width: 95%;
	max-width: 144rem;
	margin: 0 auto;
}

/* HEADER */
.header {
	padding-top: 2.4rem;
}

.header__span {
	color: var(--primary-color);
}

.header__border {
	border-top: 1px solid #e1e1e1;
}

.header__menu {
	padding: 1.6rem 0;
	display: flex;
	flex-direction: column;
	gap: .8rem;
}

.header__link {
	display: block;
	text-align: center;
	font-weight: bold;
}

.header__link--select {
	color: var(--primary-color);
}

/* HERO */
.hero {
	height: 50rem;
	background-image: url("../img/principal.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@supports (background-image: url('../img/principal.webp')) {
	.hero {
		background-image: url("../img/principal.webp");
	}
}

@supports (background-image: url('../img/principal.avif')) {
	.hero {
		background-image: url("../img/principal.avif");
	}
}

/* CATEGORIA DE PRODUCTOS */
.categoria {
	padding: 2.4rem 0;
}

.categoria__grid {
	display: grid;
	grid-template-columns: minmax(25rem, 40rem);
	justify-content: center;
	gap: 1.6rem;
}

.categoria__iten {
	border-bottom-left-radius: .8rem;
	border-bottom-right-radius: .8rem;
	overflow: hidden;
}

.categoria__img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.categoria__link {
	padding: 1.6rem;
	display: block;
	text-align: center;
	transition: all .3s ease-in-out;
}

/* SOBRE NOSOTROS */
.nosotros {
	max-width: 144rem;
	margin: 0 auto;
	background-image: linear-gradient(to bottom, transparent 50%, var(--primary-color) 50%, var(--primary-color) 100%), url("../img/nosotros.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%, 80rem;
}

@supports (background-image: url('../img/nosotros.webp')) {
	.nosotros {
		background-image: linear-gradient(to bottom, transparent 50%, var(--primary-color) 50%, var(--primary-color) 100%), url("../img/nosotros.webp");
	}
}

@supports (background-image: url('../img/nosotros.avif')) {
	.nosotros {
		background-image: linear-gradient(to bottom, transparent 50%, var(--primary-color) 50%, var(--primary-color) 100%), url("../img/nosotros.avif");
	}
}

.nosotros__grid {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.nosotros__copy {
	padding: 8rem 0;
	grid-row: 2/3;
	color: var(--tertiary-color);
	text-align: center;
}

.nosotros__titulo {
	color: var(--tertiary-color);
}

/* PRODUCTOS */
.productos {
	padding: 2.4rem 0;
}

.productos__grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: .8rem;
}

.producto {
	background-color: var(--primary-color);
}

.producto__img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
}

.producto__content {
	padding: 2rem;
}

.producto__title {
	color: var(--tertiary-color);
}

.producto__copy,
.producto__precio {
	margin-bottom: .8rem;
	text-align: center;
	color: var(--tertiary-color);
}

.producto__precio {
	font-size: 2.8rem;
	font-weight: 900;
}

.producto__buttom {
	width: 100%;
	border: none;
	padding: .8rem;
	display: block;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--tertiary-color);
	background-color: var(--comodin-color);
	cursor: pointer;
}

/* Footer */
.footer {
	padding: 2.4rem 0 .8rem;
	border-top: 1px solid #e1e1e1;
}

.footer__grid {
	display: grid;
	gap: 4rem;
}

.footer__menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .8rem;
}

.footer__copy {
	margin-top: 3rem;
	font-size: var(--paragraph--movil);
	font-weight: 500;
	text-align: center;
}

/* SOBRE-NOSOTROS */
.sobre-nosotros {
	padding-bottom: 2.4rem;
}

.sobre-nosotros_grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 3rem;
}

.sobre-nosotros__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sobre-nosotros__copy {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	line-height: 2;
	text-align: justify;
}

/* NUESTRO BLOG */

.blog {
	padding: 2.4rem 0;
}

.blog__grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4rem;
}

.blog-iten:first-child {
	padding-bottom: 4rem;
	border-bottom: 1px solid #e1e1e1;
}

.blog-iten__img {
	margin-bottom: 1.6rem;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.blog-iten__caption {
	display: flex;
	flex-direction: column;
	gap: .8rem;
}

.blog-iten__meta {
	font-weight: bold;
}

.blog-iten__span {
	font-weight: normal;
	color: var(--primary-color);
}

.blog-iten__copy {
	margin-top: 1.6rem;
	display: flex;
	flex-direction: column;
	gap: .8rem;
	line-height: 2;
}

.blog-iten__button {
	width: 100%;
	border: none;
	padding: .8rem;
	display: block;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--tertiary-color);
	background-color: var(--comodin-color);
	cursor: pointer;
}

.blog-aside {
	padding-left: 1.6rem;
}

/* GALERIA */
.galeria {
	padding: 2.4rem 0;
}

.galeria__grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: .8rem;
}

.galeria__img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

/* CONTACTO */

.contacto {
	padding: 2.4rem 0;
}

.formulario {
	max-width: 50rem;
	margin: 0 auto;
}

.formulario__fieldset {
	margin-bottom: 4rem;
	border: 1px solid #e1e1e1;
}

.formulario__fieldset:nth-child(3) {
	margin-bottom: 2rem;
}

.formulario__legen {
	width: 90%;
	padding: .4rem;
	margin-bottom: 4rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--tertiary-color);
	background-color: #005485;
}

.formulario__campo {
	margin-bottom: 2rem;
	padding: 0 1.6rem;
	display: grid;
	grid-template-columns: 7rem 1fr;
	align-items: center;
	justify-items: start;
	gap: .8rem;
}

.formulario__label {
	font-weight: 500;
}

.formulario__input:not([type="radio"]) {
	width: 100%;
	padding: .8rem .4rem;
	border: 1px solid #e1e1e1;
}

.formulario__campo--data {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.formulario__botom {
	width: 100%;
	border: none;
	padding: .8rem;
	display: block;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--tertiary-color);
	background-color: var(--comodin-color);
	cursor: pointer;
}