body {
  font-size: var(--paragraph--desktop);
  line-height: var(--line);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2.4rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

/* HEADER */

.header {
  padding-top: 2.4rem;
}

.header__menu {
  padding: 2.4rem 0;
  flex-direction: row;
  justify-content: space-between;
  gap: .8rem;
}

/* HERO */
.hero {
  height: 60rem;
}

/* CATEGORIA DE PRODUCTOS */
.categoria {
  padding-top: 2.4rem;
}

.categoria__grid {
  grid-template-columns: repeat(3, 1fr);
}